@font-face {
    font-family: "mephisto";
    src: url("/Fuentes/MEPHISTO.TTF") format("truetype");
}

.logoPosicion {
    position: absolute;
    left: 0;
    top: .5rem;
}

.logo {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0));
}

.tituloLogo {
    font-family: "mephisto";
    font-size: 2.5rem;

}